// Reset styles
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	background-color: transparent;

	font-family: sans-serif;
}

body {
	min-width: 100%;
	min-height: 100vh;
}

// Actual styling

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

@mixin center {
	display: grid;
	place-items: center;
}

@keyframes background-scroll {
	from {
		background-position: left;
	}
	to {
		background-position: right;
	}
}

@keyframes rocket-bounce {
	from {
		transform: translateY(-10px) translateX(10px);
		filter: drop-shadow(-15px 15px 4px rgba(0, 0, 0, 0.25));
	}
	to {
		transform: translateY(10px) translateX(-10px);
		filter: drop-shadow(-5px 5px rgba(0, 0, 0, 0.25));
	}
}

.container {
	width: 100%;
	height: 100vh;

	@include center;

	background-color: rgb(33, 35, 39);
	position: relative;

	&:before {
		content: "";

		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;

		background-size: 100% 100%;
		background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
			0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
		background-image: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.75),
				rgba(0, 0, 0, 0.75)
			),
			radial-gradient(
				18% 28% at 24% 50%,
				rgba(206, 250, 255, 0.442) 7%,
				#073aff00 100%
			),
			radial-gradient(18% 28% at 18% 71%, #ffffff59 6%, #073aff00 100%),
			radial-gradient(70% 53% at 36% 76%, rgb(123, 80, 182) 0%, #073aff00 100%),
			radial-gradient(42% 53% at 15% 94%, #ffffffff 7%, #073aff00 100%),
			radial-gradient(42% 53% at 34% 72%, rgb(176, 11, 148) 7%, #073aff00 100%),
			radial-gradient(18% 28% at 35% 87%, #ffffffff 7%, #073aff00 100%),
			radial-gradient(31% 43% at 7% 98%, rgb(255, 255, 255) 24%, #073aff00 100%),
			radial-gradient(21% 37% at 72% 23%, #4182f1b4 24%, #073aff00 100%),
			radial-gradient(35% 56% at 91% 74%, #8a4ffff5 9%, #073aff00 100%),
			radial-gradient(74% 86% at 67% 38%, #7806b2f5 24%, #073aff00 100%),
			linear-gradient(125deg, #4eb5ffff 1%, #4c00fcff 100%);

		backdrop-filter: blur(100px);
	}

	.banner {
		@include center;
		margin-bottom: 5em;

		.rocket {
			font-size: 75px;
			margin-bottom: 2rem;
			animation: rocket-bounce 750ms ease alternate-reverse infinite;
		}

		h1 {
			font-size: 40px;
			font-family: Poppins, sans-serif;

			color: #0000;
			background-clip: text;
			-webkit-background-clip: text;

			background-image: linear-gradient(
				45deg,
				#a100ff,
				#119cfd,
				#a100ff,
				#119cfd
			);
			background-size: 300%;
			animation: background-scroll 2500ms infinite linear;

			filter: drop-shadow(2px 2px 1px black);
		}

		h2 {
			margin-top: 0.5rem;
			font-style: italic;
			font-size: 15px;
			font-weight: 500;
			color: white;
			font-family: monospace;
			filter: drop-shadow(1px 1px 1px black);
		}
	}
}
