<div class="container">
	<div class="banner">
		<span class="rocket">🚀</span>
		<h1>Look at that, it's alive!</h1>
		<h2>There's infinite possibilities from here!</h2>

		<div class="tutorial">
			<h3>Start by editing</h3>
			<div class="code-block">
				src/views/index.hbs
			</div>
		</div>
	</div>
</div>